* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

body .container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  margin-top: 4rem;
}

header .logo__component {
  margin: 2rem auto;
}

header #logo {
  display: block;
  margin: 0 auto;
  width: 70px;
  cursor: pointer;
}

main section {
  text-align: center;
}

main h1 {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}

h1 span {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

main section p {
  font-weight: 600;
  font-size: 0.8rem;
  margin: 1rem;
  color: hsl(209, 33%, 12%);
}

.form__control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 3rem;
}

.form__control form {
  width: 100%;
}

form label input {
  display: block;
  width: 100%;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  border: 1px solid hsl(223, 100%, 88%);
  color: hsl(0, 0%, 59%);
  outline: none;
}

form label p {
  color: hsl(354, 100%, 66%);
  font-size: 0.8rem;
  padding: 1rem auto 2rem;
}

.form__control form button {
  width: 100%;
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  text-transform: capitalize;
  margin-top: 0.7rem;
  outline: none;
  border: none;
  background-color: hsl(223, 87%, 63%);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 8px 8px hsla(223, 100%, 88%, 0.637);
}

.form__control form button:hover {
  background-color: hsla(223, 87%, 63%, 0.785);
}

.hero {
  margin-bottom: 8rem;
}

.hero img {
  width: 100%;
}

footer .social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

footer .social__icons i {
  display: inline-block;
  margin: auto 0.9rem;
  border: 1px solid hsl(223, 100%, 88%);
  padding: 0.3rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  color: hsl(223, 87%, 63%);
  font-size: 0.8rem;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}

footer .copyright {
  font-size: 0.8rem;
  text-align: center;
  color: hsl(0, 0%, 59%);
  margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {

  .container {
    padding: 0 2.5rem;
  }

  main h1 {
    font-size: 2.5rem;
  }

  main section p {
    font-size: 1.1rem;
  }

  .form__control form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  form label {
    width: 63%;
  }

  .form__control form button {
    width: 35%;
    margin-top: 0;
  }

  footer .social__icons i:hover {
    background-color: hsl(223, 87%, 63%);
    color: #fff;
    transition: ease-in-out 0.5s;
  }
}
